<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bignerdranch.android.criminalintent.test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />
    <uses-permission android:name="android.permission.INJECT_EVENTS"/>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.bignerdranch.android.criminalintent" />


    <application
        android:label="proCurrencyTests" >
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>